<!DOCTYPE html>
<html lang="en" >
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
<!-- partial:index.partial.html -->
{{!-- <div class="logo text-center">
  <h1>Logo</h1>
</div> --}}
{{!-- <div class="wrap">
  <div class="inner-warpper text-center">
    <h2 class="title">Create an user account </h2>
    <form action="" id="formvalidate">
        <div class="input-group">
            <label class="palceholder" for="userName">First Name</label>
            <input class="form-control" name="userName" id="userName" type="text" placeholder="" />
            <span class="lighting"></span>
          </div>
          <div class="input-group">
            <label class="palceholder" for="userName">Last Name</label>
            <input class="form-control" name="userName" id="userName" type="text" placeholder="" />
            <span class="lighting"></span>
          </div>
      <div class="input-group">
        <label class="palceholder" for="userName">User Name</label>
        <input class="form-control" name="userName" id="userName" type="text" placeholder="" />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <label class="palceholder" for="userName">Email</label>
        <input class="form-control" name="userName" id="userName" type="text" placeholder="" />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <label class="palceholder" for="userPassword">Password</label>
        <input class="form-control" name="userPassword" id="userPassword" type="password" placeholder="" />
        <span class="lighting"></span>
      </div>

      <button type="submit" id="login">SignUp</button>
      <div class="clearfix supporter">
        <div class="pull-left remember-me">
          <input id="rememberMe" type="checkbox">
          <label for="rememberMe">Remember Me</label>
        </div>
        <a class="forgot pull-right" href="#">Forgot Password?</a>
      </div>
    </form>
  </div>
  <div class="signup-wrapper text-center">
    <a href="log">Already have account ... <span class="text-primary">Log in</span></a>
  </div>
</div> --}}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-3 col-xl-3 offset-xl-1">
        <form>
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="log" role="tab"
      aria-controls="pills-login" aria-selected="true" style="background:transparent;color:#0097e6;font-size:2rem">Login</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="registration" role="tab"
      aria-controls="pills-register" aria-selected="false" style="background:transparent;color:#0097e6;font-size:2rem">Register</a>
  </li>
</ul>
          <form>
            <div class="text-center mb-3">
      <!-- Name input -->
      <div class="form-outline mb-3">
        <input type="text" id="registerName" class="form-control" />
        <label class="form-label" for="registerName">Name</label>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-3">
        <input type="text" id="registerUsername" class="form-control" />
        <label class="form-label" for="registerUsername">Username</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-3">
        <input type="email" id="registerEmail" class="form-control" />
        <label class="form-label" for="registerEmail">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <input type="password" id="registerPassword" class="form-control" />
        <label class="form-label" for="registerPassword">Password</label>
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-3">
        <input type="password" id="registerRepeatPassword" class="form-control" />
        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn2"style="padding-left: 2.5rem; padding-right: 2.5rem;font-size:1.5rem">Sign Up</button>
      <div class="signup-wrapper text-center">
            <h3>Already have an account.? <a href="log"><span class="text-primary">Log in</span></a></h3>
          </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</section>

{{>footer}}
{{!-- <!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script><script  src="./script.js"></script> --}}

</body>
</html>